<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="" name="description">
        <meta content="" name="author">
        <title>
            Treasure Hunter
        </title>
        <!-- Bootstrap Core CSS -->
        <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="css/stylish-portfolio.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link
            href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link
            href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
        </script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
        </script>
        <![endif]-->
    </head>
    <body>
        <!-- Navigation -->
        <a class="btn btn-dark btn-lg toggle" href="#" id="menu-toggle">
            <i class="fa fa-info-circle"></i>
        </a>
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <a class="btn btn-light btn-lg pull-right toggle" href="#" id="menu-close">
                    <i class="fa fa-times"></i>
                </a>
                <li class="sidebar-brand">
                    <a href="#top" onclick=$("#menu-close").click();>
                        Main Page
                    </a>
                </li>
                <li>
                    <a href="#top" onclick=$("#menu-close").click();>
                        Home 
                    </a>
                </li>
                <li>
                    <a href="#services" onclick=$("#menu-close").click();>
                        Help 
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Header -->
        <header class="header" id="top">
            <div class="text-vertical-center">
                <h1>
                    Let the Hunt Begin
                </h1>
                <h3>
                    The kingdom of heaven is like treasure hidden in a field
                    <br>
                        So go for hunting
                    </h3>
                    <br>
                        <a class="btn btn-dark btn-lg" href="home">
                            Start Game
                        </a>
                    </div>
                </header>
                <!-- About -->
                <!-- Services -->
                <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
                <section class="services bg-primary" id="services">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-lg-10 col-lg-offset-1">
                                <h2>
                                    Help 
                                </h2>
                                <hr class="small">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="service-item">
                                            <span class="fa-stack fa-4x">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-map-marker fa-stack-1x text-primary"></i>
                                            </span>
                                            <h4>
                                                <strong>
                                                    Service Name
                                                </strong>
                                            </h4>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="service-item">
                                            <span class="fa-stack fa-4x">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                                            </span>
                                            <h4>
                                                <strong>
                                                    Service Name
                                                </strong>
                                            </h4>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="service-item">
                                            <span class="fa-stack fa-4x">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-key fa-stack-1x text-primary"></i>
                                            </span>
                                            <h4>
                                                <strong>
                                                    Service Name
                                                </strong>
                                            </h4>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="service-item">
                                            <span class="fa-stack fa-4x">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-search fa-stack-1x text-primary"></i>
                                            </span>
                                            <h4>
                                                <strong>
                                                    Service Name
                                                </strong>
                                            </h4>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            <!-- /.col-lg-10 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </section>
                <!-- Callout -->
                <!-- Portfolio -->
                <!-- Call to Action -->
                <!-- Map -->
                <!-- Footer -->
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1 text-center">
                                <h4>
                                    <strong>
                                        Game Development & Research Team
                                    </strong>
                                </h4>
                                <p>
                                    Skinnarilankatu 34
                                    <br>
                                        53850 Lappeenranta
                                    </p>
                                    <ul class="list-unstyled">
                                        <li>
                                            <i class="fa fa-phone fa-fw"></i>
                                            (123) 456-7890
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope-o fa-fw"></i>
                                            <a href="mailto:name@example.com">
                                                name@example.com 
                                            </a>
                                        </li>
                                    </ul>
                                    <br>
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook fa-fw fa-3x"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter fa-fw fa-3x"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <hr class="small">
                                        <p class="text-muted">
                                            Copyright &copy; LUT 2015
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <!-- jQuery -->
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
                        <!-- Bootstrap Core JavaScript -->
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
                        <!-- Custom Theme JavaScript -->
                        <script>
                            // Closes the sidebar menu
                            $("#menu-close").click(function (e) {
                                e.preventDefault();
                                $("#sidebar-wrapper").toggleClass("active");
                            });

                            // Opens the sidebar menu
                            $("#menu-toggle").click(function (e) {
                                e.preventDefault();
                                $("#sidebar-wrapper").toggleClass("active");
                            });

                            // Scrolls to the selected menu item on the page
                            $(function () {
                                $('a[href*=#]:not([href=#])').click(function () {
                                    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                                        var target = $(this.hash);
                                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                                        if (target.length) {
                                            $('html,body').animate({
                                                scrollTop: target.offset().top
                                            }, 1000);
                                            return false;
                                        }
                                    }
                                });
                            });
                        </script>
                    </body>
                </html>